body{
  font-family: 'Lucida Console';
  background: #969696;
}

.leroy  {
  margin-top: 1em;
  border: solid 6px;
  border-color: #68B0AB;
  background: #DBDBDB;
  border-radius: 40px;
  max-width: 360px;
}

.test1{
  line-height: 2em;
}

.test2{
  line-height: 2em;
}

.container{
	margin-top: 0px;
  padding: 0;
  padding: auto;
  margin: auto;
}

.appheader{
  font-variant: small-caps;
  font-size:4em;
  background:#68B0AB;
  max-width: 360px;

}

.appbuttons{
  margin: 10px;
}

.row{
  margin-left: auto;
  margin-right: auto;
}

.results{
  display: inline-block;
  padding: 10px;
  background: #68B0AB;
  color: white;
  font-weight: bolder;
  border: solid 2px #68B0AB;
  border-radius: 4px;


}

button{
  padding: 10px;
  background: #68B0AB;
  font-size:2em;
  color: white;
  font-weight: bolder;
  border: solid 2px #68B0AB;
  border-radius: 4px;
}

#links ul
	{
		list-style-type:none;
			margin: 10px;

	}
#links li a {
	color:white;
	padding: 10px;
	background:  #68B0AB;
	float: left;
    padding: 0px 5px 0px 5px;
    margin: 2px 5px 2px 5px;
  	border-radius: 4px;

}
	#links li a:hover {
		color: #FFE483;
		background-color:#000066;
	}