body{
  font-family: 'Lucida Console';
  background: #969696;
}

.leroy  {
  margin-top: 1em;
  border: solid 6px;
  border-color: #68B0AB;
  background: #DBDBDB;
  border-radius: 40px;
  max-width: 360px;
}

.test1{
  line-height: 2em;
}

.test2{
  line-height: 4em;
}

.container{
	margin-top: 0px;
  padding: 0;
  max-width:360px;
  padding: auto;
  margin: auto;
}

.appheader{
  font-variant: small-caps;
  font-size:4em;
  background:#68B0AB;
  max-width: 360px;

}

.appbuttons{
  margin: 10px;
}

.row{
  margin-left: auto;
  margin-right: auto;
}

.results{
  display: inline-block;
  padding: 10px;
  background: #68B0AB;
  color: white;
  font-weight: bolder;
  border: solid 2px #68B0AB;
  border-radius: 4px;
}

button{
  padding: 10px;
  background: #68B0AB;
  font-size:2em;
  color: white;
  font-weight: bolder;
  border: solid 2px #68B0AB;
  border-radius: 4px;
}
