<!DOCTYPE html>
<html>
  <head>
    <title>Concussr Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link type="text/css" href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.webapp') }}">
  </head>
  <body>
  
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-4 col-lg-6 col-lg-offset-4 test1 leroy">
          
          
        </div>
      </div>

    </div>
    
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='speech.js') }}"></script>
  </body>
</html>
