<!DOCTYPE html>
<html>
  <head>
    <title>Concussr Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link type="text/css" href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.webapp') }}">
  </head>
  <body>
  
    <div class="container">
      <div class="row">
        <div class="appheader col-xs-12 col-md-6 col-md-offset-4 col-lg-6 col-lg-offset-4  ">
            <img style="float:left; padding: 10px" src="static/logo.png" length="75px" width="75px" /> concusrr
        </div>

        <div id="links" class="col-xs-12 col-md-6 col-md-offset-4 col-lg-6 col-lg-offset-4 test1 leroy">
           <h3>Concussor says hi!</h3>
           <p>If you think you may have a concussion, we're here to help! Use the links bellow to diagnose yourself for a concussion. Please note that some of these tests are not possible without assistance or extra materials. If you suspect you have a concussion, please visit a doctor immediately.</p>

           <h3>Please follow the instructions bellow</h3>

           <ul> 
            <li><a href="https://www.ncbi.nlm.nih.gov/books/NBK382/">Olfactory nerve (1)</a></li>
            <li><a href="reading_test.html">Cognitive Test (Cranial Nerve 2)</a></li>
            <li><a href="visual_test.html">Visual Test (Cranial Nerves 3,4,6)</a></li>  
            <li><a href="#">Occular Rexflex(Cranial Nerve 5)</a></li>
            <li><a href="https://geekymedics.com/cranial-nerve-exam/">Facial (Cranial Nerve 7)</a></li>
            <li><a href="#">Balance/Hearing (Cranial Nerve 8)</a></li>
            <li><a href="#">Voice (Cranial Nerve 9, 10)</a></li>  
            <li><a href="https://geekymedics.com/cranial-nerve-exam/">Physical (Cranial Nerve 11)</a></li>
            <li><a href="https://geekymedics.com/cranial-nerve-exam/">Articulation (Cranial Nerve 12)</a></li>

          </ul>
        </div>
      </div>

    </div>
    
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='speech.js') }}"></script>
  </body>
</html>
