<!DOCTYPE html>
<html>
  <head>
    <title>Concussr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link type="text/css" href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.webapp') }}">
  </head>
  <body>
  <div id="t1_solution"style="visibility: hidden;">{{ t1_solution }}</div>
  <div id="t2_solution"style="visibility: hidden;">{{ t2_solution }}</div>
  <div id="t3_solution"style="visibility: hidden;">{{ t3_solution }}</div>
  <div class="container text-center">
    
    <div class="appheader col-xs-12 col-md-6 col-md-offset-4 col-lg-6 col-lg-offset-4  ">
        <img style="float:left; padding: 10px" src="static/logo.png" length="75px" width="75px" /> concusrr
    </div>

    <div class="row t1_display">
      <div class="col-xs-12 col-md-6 col-md-offset-4 col-lg-6 col-lg-offset-4 test1 leroy" style="margin-top: 1em;">
        {% for line in t1_lines %}
        {{line}}<br/>
        {% endfor %}
      </div>
    </div>
    
    <div class="row t2_display" style="display: none;">
      <div class="col-xs-12 col-md-6 col-md-offset-4 col-lg-6 col-lg-offset-4 test2 leroy">
        {% for line in t2_lines %}
        {{line}}<br/>
        {% endfor %}
      </div>
    </div>
    
    <div class="row t3_display" style="display: none;">
      <div class="col-xs-12 col-md-6 col-md-offset-4 col-lg-6 col-lg-offset-4 test3 leroy">
        {% for line in t3_lines %}
        {{line}}<br/>
        {% endfor %}
      </div>
    </div>
    
      <div class="appbuttons" >
        <button type="button" id="recordBtn" style="z-index: 2;">Start Test</button>
      </div>

        <div id="results" style="display: none;">
          <p id="totalTime"></p>
          <p id="totalCorrect"></p>
        </div>

    </div>

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='speech.js') }}"></script>
  </body>
</html>
